build-local.sh
.git
.github
coverage
.nyc_output
.settings
.project
*.log
test
pacts
Jenkinsfile
CONTRIBUTING.md
env.sh
.snyk
logs/**/*
.sass-lint.yml
.jshintrc
Dockerfile
.dockerignore
.gitignore
*.txt
.idea
.tmp
docs
node_modules_local
docker/build_and_test.Dockerfile
Gruntfile.js
