{% extends "common/templates/layout.njk" %}

{% block page_title %}
  Payment Details
{% endblock %}

{% block content %}
  <main id="content" role="main">
    Payment Details
  </main>
{% endblock %}
