{% extends "common/templates/layout.njk" %}
{% import "common/macros/form-group.njk" as form %}

{% if validationErrors %}
  {% set fields = validationErrors %}
  {% set errors = validationErrors | groupby('id') %}
{% endif %}

{% block page_title %}
  Set up a Direct Debit
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row relative">
      <div class="column-two-thirds">
        {% if validationErrors %}
            {% include "common/templates/includes/validation-errors.njk" %}
        {% endif %}
        <h1 class="heading-large">Set up a Direct Debit</h1>
        <p>We’ll take a one-off payment from your bank account</p>

        <form class="form" method="POST" action="/setup/{{paymentRequestExternalId}}" class="direct-debit-form" data-validate>
          <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
          {{ form.input(
            name='account-holder-name',
            label='Name on the account',
            value=formValues.account_holder_name,
            extraClasses='form-control-2-3',
            attributes={'data-validate': 'true'},
            errorLabel='Please enter the name on the account',
            isError=errors['account-holder-name']
          )}}

          {{ form.input(
            name='sort-code',
            label='Sort code',
            value=formValues.sort_code,
            extraClasses='form-control-1-3',
            attributes={'data-validate': 'sort-code'},
            errorLabel='Sort code must contain 6 digits',
            isError=errors['sort-code']
          )}}

          {{ form.input(
            name='account-number',
            label='Account number',
            value=formValues.account_number,
            extraClasses='form-control-1-3',
            attributes={'data-validate': 'account-number'},
            errorLabel='Account number must contain 6-8 digits',
            isError=errors['account-number']
          )}}

          <div class="form-group{% if errors['requires-authorisation'] %} form-group-error{% endif %}">
            <fieldset>
              <legend  data-error-label="If you’re not allowed to authorise Direct Debits on this account try a different payment method using the link below">
                <h1 id="requires-authorisation" class="heading-small">
                  Are you allowed to authorise Direct Debits on this account?
                </h1>
                <span class="form-hint">If it’s a joint account but you can authorise payments on your own, click “Yes”</span>
                {% if errors['requires-authorisation'] %}
                  <span class="error-message">If you’re not allowed to authorise Direct Debits on this account try a different payment method using the link below</span>
                {% endif %}
              </legend>
              <div class="multiple-choice">
                <input id="authorise-yes" type="radio" name="requires-authorisation" value="false"{% if formValues.requires_authorisation == 'false' %} checked="checked"{% endif %} data-validate="is-checked"/>
                <label for="authorise-yes">Yes</label>
              </div>
              <div class="multiple-choice" data-target="unauthorised-message">
                <input id="authorise-no" type="radio" name="requires-authorisation" value="true"{% if formValues.requires_authorisation == 'true' %} checked="checked"{% endif %} aria-controls="unauthorised-message" aria-expanded="false"/>
                <label for="authorise-no">No</label>
              </div>
              <div class="panel panel-border-narrow js-hidden" id="unauthorised-message" aria-hidden="true">
                <p>If more than one person is required to authorise Direct Debits on this bank account, you can’t proceed
                  with this online payment method.</p>
                <p><a href="#">Go back and try a different payment method</a></p>
              </div>
            </fieldset>
          </div>

          {{ form.input(
            name='email',
            label='Email address',
            value=formValues.email,
            type='email',
            extraClasses='form-control-2-3',
            hintText='We need this to confirm the Direct Debit with you',
            errorLabel='Please use a valid email address',
            isError=errors['email'],
            attributes={
              'data-validate': 'email',
              'data-confirmation': 'true',
              'data-confirmation-label': 'An email will be sent to: '
            }
          )}}

          <div class="form-group">
            <button type="submit" id="submit-direct-debit-data" class="button">Continue</button>
            <a class="cancel-link" href="/setup">Cancel payment</a>
          </div>
        </div>
      <aside class="payment-summary">
        <div class="payment-summary__inner js-stick-at-top-when-scrolling">
          <h2 class="heading-medium">Payment summary</h2>
          <p class="payment-summary__description" id="payment-description">{{description}}</p>
          <p class="payment-summary__description">Total amount: <span class="payment-summary__amount" id="amount">£{{amount}}</span>
        </div>
      </aside>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        <img src="/public/images/directdebit.png" class="direct-debit-logo" />
        <p class="direct-debit-guarantee">Your payments are protected by the <a href="/direct-debit-guarantee/{{paymentRequestExternalId}}">Direct Debit guarantee</a>.</p>
      </div>
    </div>
  </main>
{% endblock %}
