{% extends "common/templates/layout.njk" %}
{% from "components/input/macro.njk" import govukInput %}
{% from "components/radios/macro.njk" import govukRadios %}
{% from "components/button/macro.njk" import govukButton %}

{% if validationErrors %}
  {% set fields = validationErrors %}
  {% set errors = validationErrors | groupby('id') %}
{% endif %}

{% block pageTitle %}
  Set up a Direct Debit
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="govuk-grid-row govuk-!-margin-bottom-9">
      <div class="govuk-grid-column-two-thirds">
        {% if validationErrors %}
            {% include "common/templates/includes/validation-errors.njk" %}
        {% endif %}
        <h1 class="govuk-heading-l">Set up a Direct Debit</h1>
        <form class="form" method="POST" action="/setup/{{mandateExternalId}}" class="direct-debit-form" data-validate>
          <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
          {% set nameError = false %}
          {% if errors['account-holder-name'] %}
            {% set nameError = {
                text: "Please enter the name on the account"
              } %}
          {% endif %}
          {{
            govukInput({
              id: "account-holder-name",
              name: "account-holder-name",
              label: {
                text: "Name on the account",
                classes: "govuk-label--s"
              },
              value: formValues.account_holder_name,
              classes: "govuk-!-width-two-thirds",
              attributes: {
                "data-validate": "true"
              },
              errorMessage: nameError
            })
          }}

          {% set sortCodeError = false %}
          {% if errors['sort-code'] %}
            {% set sortCodeError = {
                text: "Either your sort code or account number is not right"
              } %}
          {% endif %}
          {{
            govukInput({
              id: "sort-code",
              name: "sort-code",
              label: {
                text: "Sort code",
                classes: "govuk-label--s"
              },
              hint: {
                text: "Must be 6 digits long"
              },
              value: formValues.sort_code,
              classes: "govuk-!-width-one-third",
              attributes: {
                "data-validate": "sort-code"
              },
              errorMessage: sortCodeError
            })
          }}

          {% set accountNumberError = false %}
          {% if errors['account-number'] %}
            {% set accountNumberError = {
                text: "Either your sort code or account number is not right"
              } %}
          {% endif %}
          {{
            govukInput({
              id: "account-number",
              name: "account-number",
              label: {
                text: "Account number",
                classes: "govuk-label--s"
              },
              hint: {
                text: "Must be between 8 and 10 digits long"
              },
              value: formValues.account_number,
              classes: "govuk-!-width-one-third",
              attributes: {
                "data-validate": "account-number"
              },
              errorMessage: accountNumberError
            })
          }}

          {% set unauthorisedMessage %}
            <p class="govuk-body">If more than one person is required to authorise Direct Debits on this bank account, you can't proceed with this online payment method.</p>
            <p class="govuk-body">If it’s a joint account but you can authorise payments on your own, click ‘Yes’.</p>
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{{ returnUrl }}" id="return-url">Go back and try a different payment method</a></p>
          {% endset %}

          {% set unauthorisedMessageError = false %}
          {% if errors['requires-authorisation'] %}
            {% set unauthorisedMessageError = {
                text: "If you’re not allowed to authorise Direct Debits on this account try a different payment method using the link below"
              } %}
          {% endif %}
          {{
            govukRadios({
              idPrefix: "requires-authorisation",
              name: "requires-authorisation",
              fieldset: {
                legend: {
                  text: "Are you allowed to authorise Direct Debits on this account?",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              errorMessage: unauthorisedMessageError,
              items: [
                {
                  value: "false",
                  text: "Yes",
                  checked: formValues.requires_authorisation == 'false',
                  id: "authorise-yes"
                },
                {
                  value: "true",
                  text: "No",
                  checked: formValues.requires_authorisation == 'true',
                  id: "authorise-no",
                  conditional: {
                    html: unauthorisedMessage
                  }
                }
              ]
            })
          }}

          {% set emailError = false %}
          {% if errors['email'] %}
            {% set emailError = {
                text: "Please use a valid email address"
              } %}
          {% endif %}
          {{
            govukInput({
              id: "email",
              name: "email",
              label: {
                text: "Email address",
                classes: "govuk-label--s"
              },
              hint: {
                text: "We need this to confirm the Direct Debit with you"
              },
              value: formValues.email,
              classes: "govuk-!-width-two-thirds",
              attributes: {
                "data-validate": "email",
                "data-confirmation": "true",
                "data-confirmation-label": "An email will be sent to: "
              },
              errorMessage: emailError
            })
          }}

          {{
            govukButton({
              text: 'Continue',
              attributes: {
                id: "submit-direct-debit-data"
              }
            })
          }}

          <p class="govuk-body">
            <a class="govuk-link govuk-link--no-visited-state cancel-link" href="/cancel/{{mandateExternalId}}">Cancel mandate</a>
          </p>

        </div>
    </div>

    {% block dd_guarantee_anchor %}
      {% include "app/direct-debit-guarantee/anchor.njk" %}
    {% endblock %}
  </main>
{% endblock %}
