{% extends "common/templates/layout.njk" %}
{% import "common/macros/form-group.njk" as form %}

{% block page_title %}
  Set up a Direct Debit
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="grid-row relative">
      <div class="column-two-thirds">
        <h1 class="heading-large">Set up a Direct Debit</h1>
        <p>We’ll take a one-off payment from your bank account</p>

        <form class="form" method="POST" action="/setup/{{paymentRequestExternalId}}" class="direct-debit-form" data-validate>
          {{ form.input(
            name='account-holder-name',
            label='Name on the account',
            extraClasses='form-control-2-3',
            validate='true',
            errorLabel='Please enter the name on the account'
          )}}

          {{ form.input(
            name='sort-code',
            label='Sort code',
            extraClasses='form-control-1-3',
            validate='true',
            errorLabel='Please enter a valid sort code'
          )}}

          {{ form.input(
            name='account-number',
            label='Account number',
            extraClasses='form-control-1-3',
            validate='true',
            errorLabel='Please enter a valid account number'
          )}}

          <div class="form-group">
            <fieldset>
              <legend>
                <h1 class="heading-small">
                  Are you allowed to authorise Direct Debits on this account? <span class="form-hint">If it’s a joint account but you can authorise payments on your own, click “Yes”</span>
                </h1>
              </legend>
              <div class="multiple-choice">
                <input id="authorise-yes" type="radio" name="requires-authorisation" value="false" />
                <label for="authorise-yes">Yes</label>
              </div>
              <div class="multiple-choice" data-target="unauthorised-message">
                <input id="authorise-no" type="radio" name="requires-authorisation" value="true" aria-controls="unauthorised-message" aria-expanded="false"/>
                <label for="example-contact-by-phone">No</label>
              </div>
              <div class="panel panel-border-narrow js-hidden" id="unauthorised-message" aria-hidden="true">
                <p>If more than one person is required to authorise Direct Debits on this bank account, you can’t proceed
                  with this online payment method.</p>
                <p><a href="#">Go back and try a different payment method</a></p>
              </div>
            </fieldset>
          </div>

          {{ form.selectCountries(
            name='country-code',
            label='Countries',
            extraClasses='form-control-2-3',
            before='<h2 class="heading-medium">Billing address</h2><p>This is the address associated with the account</p>',
            options=countries
            )
          }}

          <div class="form-group">
            <label class="form-label-bold" for="address-line1" data-error-label="Please enter a street name">Building and street</label>
            <input class="form-control form-control-2-3" id="address-line1" name="address-line1" type="text" value="" data-validate />
            <input class="form-control form-control-2-3 address-line2" id="address-line2" name="address-line2" type="text" value="" />
          </div>

          {{ form.input(
            name='city',
            label='Town or city',
            extraClasses='form-control-2-3',
            validate='true',
            errorLabel='Please enter a town or city'
          )}}

          {{ form.input(
            name='postcode',
            label='Postcode',
            extraClasses='form-control-1-3',
            validate='true',
            errorLabel='Please enter a postcode'
          )}}

          {{ form.input(
            name='email',
            label='Email address',
            type='email',
            extraClasses='form-control-2-3',
            hintText='We need this to confirm the Direct Debit with you',
            validate='email'
          )}}

          <div class="form-group">
            <button type="submit" id="submit-direct-debit-data" class="button">Continue</button>
            <a class="cancel-link" href="/setup">Cancel payment</a>
          </div>
        </div>
      <aside class="payment-summary">
        <div class="payment-summary__inner js-stick-at-top-when-scrolling">
          <h2 class="heading-medium">Payment summary</h2>
          <p class="payment-summary__description" id="payment-description">{{description}}</p>
          <p class="payment-summary__description">Total amount: <span class="payment-summary__amount" id="amount">£{{amount}}</span>
        </div>
      </aside>
    </div>

    <div class="grid-row">
      <div class="column-two-thirds">
        <img src="/public/images/directdebit.png" class="direct-debit-logo" />
        <p class="direct-debit-guarantee">Your payments are protected by the <a href="/direct-debit-guarantee">Direct Debit guarantee</a>.</p>
      </div>
    </div>
  </main>
{% endblock %}
