<div class="grid-row">
  <div class="column-two-thirds">
    <img src="/public/images/direct-debit.svg" class="direct-debit-logo" alt="Direct Debit Logo" />
    <p class="direct-debit-guarantee">Your payments are protected by the <a href="/direct-debit-guarantee/{{ paymentAction }}/{{ mandateExternalId }}">Direct Debit guarantee</a>.</p>
  </div>
</div>
