<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds direct-debit-guarantee">
    <img src="/public/images/direct-debit.svg" class="direct-debit-logo" alt="Direct Debit Logo" />
    <p class="govuk-body-s pay-secondary-text-colour">Your payments are protected by the <a class="govuk-link" href="/direct-debit-guarantee/{{ paymentAction }}/{{ mandateExternalId }}">Direct Debit guarantee</a>.</p>
  </div>
</div>
