<div class="grid-row">
  <div class="column-two-thirds">
    <img src="/public/images/directdebit.png" class="direct-debit-logo" />
    <p class="direct-debit-guarantee">Your payments are protected by the <a href="/direct-debit-guarantee/{{ paymentAction }}/{{ paymentRequestExternalId }}">Direct Debit guarantee</a>.</p>
  </div>
</div>