{% extends "common/templates/layout.njk" %}

{% block page_title %}
  Direct Debit Guarantee
{% endblock %}

{% block content %}
  <main id="content" role="main">
    Direct Debit Guarantee
  </main>
{% endblock %}
