{% extends "common/templates/layout.njk" %}

{% block pageTitle %}An error occurred - GOV.UK Pay{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Sorry, we’re experiencing technical problems</h1>
          <p class="govuk-body" id="errorMsg">{{message}}</p>
      </div>
    </div>
  </main>
{% endblock %}
