{% extends "common/templates/layout.njk" %}

{% block pageTitle %}
  {{heading}}
{% endblock %}

{% block content %}
  <main id="content" class="content-wrapper error-pages govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l {{ status }}">
        {{ heading }}
      </h1>
      <p class="govuk-body-l">
        {{ message }}
      </p>

      {% if includeReturnUrl %}
        <p class="govuk-body-l">
          You can <a href="{{ returnUrl }}" id="return-url" class="govuk-link">go back and try again</a>.
        </p>
      {% endif %}
    </div>
  </main>
{% endblock %}
