{% extends "common/templates/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Check your details are correct
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% set backLinkURL%}/setup/{{mandateExternalId}}{% endset %}
        {{
          govukBackLink({
            text: "Back",
            href: backLinkURL
          })
        }}
        {{
          govukTable({
            caption: "Check your details are correct",
            captionClasses: "govuk-heading-l",
            firstCellIsHeader: true,
            rows: [
              [
                {
                  text: "Name on the account:"
                },
                {
                  text: accountHolderName,
                  attributes: {
                    id: "account-holder-name"
                  }
                }
              ],
              [
                {
                  text: "Sort code:"
                },
                {
                  text: sortCode,
                  attributes: {
                    id: "sort-code"
                  }
                }
              ],
              [
                {
                  text: "Account number:"
                },
                {
                  text: accountNumber,
                  attributes: {
                    id: "account-number"
                  }
                }
              ]
            ]
          })
        }}

        {% set insetHTML %}
          <p class="govuk-body govuk-!-margin-top-6 govuk-!-margin-bottom-6">We will notify you by email 3 days before each future payment.</p>
        {% endset %}
        {{
          govukInsetText({
            html: insetHTML
          })
        }}

        <form
          class="form"
          method="POST"
          action="/confirmation/{{mandateExternalId}}"
          data-virtual-pageview="/success/{{mandateExternalId}}"
          data-parameters="dimension2:{{gatewayAccount.type}} dimension3:GoCardless metric1:{{amount}}"
        >
          <input id="csrf" name="csrfToken" type="hidden" value="{{csrf}}" />
          {% set buttonText%}
            Confirm mandate
          {% endset%}
          {{
            govukButton({
              text: buttonText,
              attributes: {
                id: "submit-direct-debit"
              }
            })
          }}

          <p class="govuk-body">
            <a id="cancel" class="govuk-link govuk-link--no-visited-state govuk-!-margin-top-6 gouk-!-display-block cancel-link" href="/cancel/{{mandateExternalId}}">Cancel mandate</a>
          </p>
        </form>
      </div>
    </div>
    {% block dd_guarantee_anchor %}
      {% include "app/direct-debit-guarantee/anchor.njk" %}
    {% endblock %}
    </div>
  </main>
{% endblock %}
