{% extends "common/templates/layout.njk" %}

{% block page_title %}
  Check your details are correct
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div class="back">
      <a href="/" class="link-back">Back</a>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large">Check your details are correct</h1>
        <div class="check-details">
          <table>
            <tbody>
            <tr>
              <td>Name on the account:</td>
              <td class="table-info">Alex Smith</td>
            </tr>
            <tr>
              <td>Sort code:</td>
              <td class="table-info">400500</td>
            </tr>
            <tr>
              <td>Account number:</td>
              <td class="table-info">12345678</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="panel panel-border-wide">
          <p><span class="bold-small">‘Thames-Fishing-Permit’</span> will appear on your bank statement</p>
        </div>
        <div class="form-group">
          <a href="#">
            <button class="button">Confirm payment</button>
          </a>
        </div>
        <div class="back">
          <a href="/">Cancel payment</a>
        </div>
      </div>
      <div class="column-third">
        <div class="payment-summary-small">
          <h2>Payment summary</h2>
          <p class="payment-info">Lock and Weir Fishing Permit – River Thames</p>
          <h3>Total amount:</h3>
          <p class="payment-amount">£31.00</p>
        </div>
      </div>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="dd-terms-conditions">
          <div class="dd-images"><img src="/public/images/directdebit.png">
            <p>Your payments are protected by the <a href="/direct-debit-guarantee">Direct Debit guarantee</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
