{% extends "common/templates/layout.njk" %}

{% block page_title %}
  Check your details are correct
{% endblock %}

{% block content %}
  <main id="content" role="main">
    <div>
      <a href="/setup" class="link-back">Back</a>
    </div>
    <div class="grid-row relative">
      <div class="column-two-thirds">
        <h1 class="heading-large">Check your details are correct</h1>
        <table>
          <tbody>
          <tr>
            <td>Name on the account:</td>
            <td>Alex Smith</td>
          </tr>
          <tr>
            <td>Sort code:</td>
            <td>400500</td>
          </tr>
          <tr>
            <td>Account number:</td>
            <td>12345678</td>
          </tr>
          </tbody>
        </table>
        <div class="panel panel-border-wide bank-statment-message">
          <p><span class="bold-small">‘Thames-Fishing-Permit’</span> will appear on your bank statement</p>
        </div>
        <div class="form-group">
          <a href="#" class="button">Confirm payment</a>
          <a class="cancel-link" href="/setup">Cancel payment</a>
        </div>
      </div>
      <aside class="payment-summary">
        <div class="payment-summary__inner js-stick-at-top-when-scrolling">
          <h2 class="heading-medium">Payment summary</h2>
          <p class="payment-summary__description">Lock and Weir Fishing Permit – River Thames</p>
          <p class="payment-summary__description">Total amount: <span class="payment-summary__amount">£31.00</span>
        </div>
      </aside>
    </div>
    <div class="grid-row">
      <div class="column-two-thirds">
        <img src="/public/images/directdebit.png" class="direct-debit-logo" />
        <p class="direct-debit-guarantee">Your payments are protected by the <a href="/direct-debit-guarantee">Direct Debit guarantee</a>.</p>
      </div>
    </div>
    </div>
  </main>
{% endblock %}
