{% extends "common/templates/layout.njk" %}

{% block pageTitle %}
  Your {{ "payment" if mandateType == 'ONE_OFF' else "mandate" }} has been cancelled - GOV.UK Pay
{% endblock %}

{% block content %}
  <main id="content" class="content-wrapper error-pages govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l user-cancel">Your {{ "payment" if mandateType == 'ONE_OFF' else "mandate" }} has been cancelled</h1>
      <p class="govuk-body-l">No money has been taken from your account</p>
      <p class="govuk-body-l"><a id="return-url" href="{{ returnUrl }}" class="govuk-link">Go back to the service</a></p>
      <p class="govuk-body-l">You can try to pay again</p>
    </div>
  </main>
{% endblock %}
