{% macro input(
  name='',
  label='',
  value='',
  type='text',
  extraClasses='',
  hintText='',
  errorLabel='',
  isError=false,
  before='',
  attributes=''
  )
%}
<div class="form-group{% if isError %} form-group-error{% endif %}">
  {{ before | safe }}

  <label
    class="form-label-bold"
    for="{{ name }}"
    {% if errorLabel %}
      data-error-label="{{ errorLabel }}"
    {% endif %}
    >
    {{ label }}
    {% if hintText %}
      <span class="form-hint">{{ hintText }}</span>
    {% endif %}
    {% if isError %}
      <span class="error-message">{{ errorLabel }}</span>
    {% endif %}
  </label>
  <input
    class="form-control{% if isError %} form-control-error{% endif %} {{ extraClasses }}"
    id="{{ name }}"
    name="{{ name }}"
    type="{{ type }}"
    value="{{ value }}"
    {%- for attribute, value in attributes %} {{ attribute }}="{{ value }}"{% endfor -%}/>
</div>
{% endmacro %}

{% macro select(
  name='',
  label='',
  extraClasses='',
  before='',
  options
  )
%}
<div class="form-group">
  {{ before | safe }}

  <label class="form-label-bold" for="{{ name }}">{{ label }}</label>
  <select
    id="{{ name }}"
    name="{{ name }}"
    class="form-control {{ extraClasses}}"
    {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor -%}>
    {% for option in options %}
      <option value="{{ option.value }}" {{ 'selected' if option.selected }}>{{ option.name }}</option>
    {% endfor %}
  </select>
</div>
{% endmacro %}

{% macro selectCountries(
  name='',
  label='',
  extraClasses='',
  before='',
  options
  )
%}
  <div class="form-group">
    {{ before | safe }}

    <label class="form-label-bold" for="{{ name }}">{{ label }}</label>
    <select
        id="{{ name }}"
        name="{{ name }}"
        class="form-control {{ extraClasses}}"
        {% if validate %}
          data-validate="{{ validate }}"
        {% endif %}
    >
      {% for option in options %}
        <option value="{{ option.entry.country }}" {{ 'selected' if option.entry.selected }}>{{ option.entry.name }}</option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}
