.content-wrapper {
  position: relative;
}

.payment-summary {
  margin: $gutter 0;
  clear: both;

  &__inner {
    padding: $gutter-half;
    border: $gutter-one-third solid $border-colour;
    background-color: $canvas-colour;

    @include media(tablet) {
      width: 200px;
    }
    @include media(desktop) {
      width: 250px;
    }

    h2 {
      margin-top: 0;
      padding-bottom: 0;
    }

  }

  @include media(tablet) {
    position: absolute;
    top: $gutter;
    right: 0;
    width: 250px;
    margin: 0;
  }

  @include media(desktop) {
    width: 300px;
  }

  &__description {
    @include core-19;
    font-weight: bold;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__amount {
    @include bold-36;
    display: block;
  }

}
